.want-to-see-more{
    display: flex;
    justify-content: center;
    gap: 0.25em;
}

.project-flex{
    display: flex;
    justify-content: center;
}

.project-title{
    text-align: center;
}

@media screen and (max-width: 800px) {
    .want-to-see-more{
        display: block;
    }

    .want-to-see-more h5{
        text-align: center;
    }
}