:root {
  --primary-color: #9E00FF;
  --margin-inline: 5vw;
  --header-height: 3em;
  --h1-size: clamp(48px, 8vw, 96px);
  --h2-size: clamp(32px, 3vw, 36px);
  --h5-size: clamp(12px, 1vw, 16px);
  margin-inline: var(--margin-inline);
}

@font-face {
  font-family: Inter;
  src: url('/Inter.tff');
}

h1{
  font-size: var(--h1-size);
}

h2{
  font-size: var(--h2-size);
  font-weight: 100;
}

h5{
  font-size: var(--h5-size);
}

.primary-color{
  color: var(--primary-color);
}

.smallbr{
  display: block;
  margin-bottom: 1.4em;
}

.iconbr{
  display: block;
  margin-bottom: clamp(24px, 4vw, 42px);
}

.code-font{
  color: pink;
  cursor: default;
  user-select: none;
}