.arsenal-flex{
    display: flex;
    flex-direction: column;
}

.arsenal-flex span {
    width: 60%;
}

.arsenal-list{
    gap: 200px;
    width: 100% !important;
}

.arsenal-title{
    text-align: center;
    
}

.arsenal-flex div{
    width: 100%;
}

.icon-grid{
    margin-block: 16px;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    gap: 6px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.arsenal-span{
    width: 100% !important;
    text-align: center;
}

.arsenal-flex p {
    width: 100%;
    text-align: center;
}